.container_prova{
    left: 50%;
    top: 50%;
    width: 70%;
    height: 70%;
    position: absolute;
    transform: translate(-50%, -50%);
}


#home{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#logo {
    width: 15px ;
}